.analysis-container {
  width: 100%;
  height: 330px;
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
}

.analysis-container h2 {
  color: white;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 16px;
}

.analysis-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.analysis-group h3 {
  color: white;
  margin: 0 0 4px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 2.125rem;
}

.analysis-group p {
  color: #9C9C9C;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .analysis-group {
    flex-wrap: wrap;
  }

  .analysis-group h3 {
    font-size: 1.5rem;
  }

  .analysis-group p {
    font-size: 0.8rem;
  }

  .analysis-container h2 {
    font-size: 2rem;
  }
}