.download-item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.files-container .ant-card-body {
  padding: 8px !important;
  flex: 1;
}

.files-container .ant-card {
  flex: 1;
  margin-left: 8px !important;
  margin-right: 8px !important;
  min-width: 40%;
}

@media screen and (max-width: 768px) {
  .files-container .ant-card {
    min-width: 50%;
  }
}

.download-item-icon {
  margin-right: 8px;
}