.main-page-container {

}

.upload-and-deploy-button {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  text-align: right;
  display: flex;
}

.upload-and-deploy-button > button {
  width: 220px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: lighter;
}

.loading-modal-p {
  text-align: center;
}